body {
  background: #e2e1e0;
}

.cover {
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../stockImages/Tie-Suit-Business.jpg');
  color: #fff;
}

.card {
  margin: 1%;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  height: 200px;
  position: relative;
  width: 98%;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* Home page */
.home {
  text-align: center;
}

.center-big {
  padding: 15% 1%;
  font-size: 350%;
}

/* About */
.about-text {
  font-size: 1.2em;
  color: #ddd;
  padding: 5%;
}

/* Clubs list */
.club-list h3 {
  text-align: center;
}
.club-list .club-title {
  padding-left: 10%;
  padding-top: 3%;
}

.user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.grey-background {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #babfb7;
}


/* Meetings list */
.meetings-list h3 {
  text-align: center;
}
.meetings-list .meetings-title {
  padding-left: 10%;
  padding-top: 3%;
}

/* Meeting Details */
.meeting-details {
  padding: 20px;
}
.meeting-details h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.25;
}
