<!--Meeting info card starts-->

<div class="card">
  <div class="card-block grey-background">
    <h2>Meeting Name</h2>
  </div>
  <div class="card-block row">
    <div class="col-md-4">
      <h4 class="card-title">Address</h4>
      <p class="card-text">Begumpet Flyover, Uma Nagar, Begumpet, Hyderabad, Telangana 500016</p>
    </div>
    <div class="col-md-4">
      <h4>Description</h4>
      <p>About the meeting. Stuff to know.</p>
    </div>
    <div>
      <a href="templates/MeetingDetail.tpl.html" >Delete Club</a>
    </div>
  </div>
</div>

<!-- Meetings info card ends-->
