<!--Meeting info card starts-->

<div class="card">
  <div class="card-block grey-background">
    <h2>Meeting Name</h2>
  </div>
  <div class="card-block row">
    <div class="col-md-4">
      <h4 class="card-title">Address</h4>
      <p class="card-text">Begumpet Flyover, Uma Nagar, Begumpet, Hyderabad, Telangana 500016</p>
    </div>
    <div class="col-md-4">
      <h4>Description</h4>
      <p>About the meeting. Stuff to know.</p>
    </div>
    <div>
      <a href="templates/MeetingDetail.tpl.html" >Delete Club</a>
    </div>
  </div>
</div>

<!-- Meetings info card ends-->



<head>
  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--main css-->
  <link href="../css/main.min.css" rel="stylesheet">
</head>
<body>

<div class="meeting-details">
    <!--Event title-->
    <div id="event-title">
      <h1>
      Understanding Toastmasters
      </h1>
    </div>

    <!--Event Date and time. location-->

    <ul>
      <li>
        13th March 2016 10:00 AM
      </li>
      <li>
        <a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;q=Microsoft+India+Pvt+Ltd%2C+4th+Floor%2C+8-2-293%2F82%2FA%2F1130%2FA%2C+Usha+Jubilee+Town+36%2C+Road+Number+36%2C+Jubilee+Hills%2C+Hyderabad%2C+Telanga%2C+Hyderabad%2C+in" target="_blank" itemprop="name">
          Microsoft India Pvt Ltd, 4th Floor, 8-2-293/82/A/1130/A, Usha Jubilee Town 36, Road Number 36, Jubilee Hills, Hyderabad, Telanga
        </a>
      </li>
    </ul>

    <!-- Description for the meeting-->
    <div class="meeting-description">
      <p class="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec nunc et est placerat molestie. Phasellus quam massa, porta ac elit sed, sodales porta massa. Praesent vehicula, lectus et interdum egestas, nulla mauris congue justo, vitae consequat urna nunc sed nibh. Nam a arcu et mi placerat lacinia. Nullam risus ante, condimentum non vehicula rutrum, rhoncus nec nulla. Aenean auctor accumsan lorem, eu molestie ipsum efficitur lobortis. Donec orci metus, dignissim id diam non, placerat ullamcorper enim. Cras luctus eros non tempus aliquet. Nam nulla libero, tempus nec lectus in, pretium pulvinar lectus. Duis pulvinar sapien nisi, vel auctor nibh consectetur nec. Quisque nec pellentesque erat, ut posuere sem. Phasellus ex urna, elementum quis scelerisque id, ornare vel quam
      </p>
    </div>
</div>

<!--Feedback section-->
<div id="event-comments-section" class="">




<h3 class=""> How was the Meetup? </h3>

<div id="event-rating-wrapper" class="can-rate">

<!-- JS Counterpart is defined in details.js -->
<div id="event-rating-1" data-value="5.0" class="star-rating " title="5">

        <i data-index="0" class="icon icon-None icon-star">
        </i>
        <i data-index="1" class="icon icon-None icon-star">
        </i>
        <i data-index="2" class="icon icon-None icon-star">
        </i>
        <i data-index="3" class="icon icon-None icon-star">
        </i>
        <i data-index="4" class="icon icon-None icon-star">
        </i>
</div>

<input type="hidden" name="event_rating" value="5" id="event-rating-value">

<div class="average-rating">
<small>
avg:
</small>









<span class="rating-avg-sprite rated-450"></span>


</div>

</div>

<div class="figureset new-comment">
  <div class="figureset-figure">
    <a  class="mem-photo-background-60 square-50" style="">
    </a>
  </div>
  <div class="figureset-description">
    <div class="comment-wrap">
      <div class="comment-input-wrap">
        <textarea name="newComment" class="j-comment-input J_onClick textInputTip span-100 hasMaxLen maxChars1000 maxLenAdded" title="Ask a question, share something, or leave a comment..." placeholder="Ask a question, share something, or leave a comment..." style="overflow: hidden; word-wrap: break-word; height: 64px;">
        </textarea>
        <div style="display:none;" class="limit-container">
          <span class="limit">1,000 characters left</span>
        </div>
        <div class="nib">
          <div class="inner-nib"></div>
        </div>
      </div>
    </div>
    <div class="comment-actions clearfix"> <button class="j-submit-comment button primary small">Post</button> <div class="dot-loader-16 invisible"></div>
    </div>
  </div>
</div>


<ul class="comments">
  <li>
    Awesome session -Arun
  </li>
  <li>
    Nice talk -Rahul
  </li>
</ul>


</div>
</div>

</body>
