<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Rahul Raviprasad">
    <meta name="description" content="Website for managing toastmasters">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Toastmasters club</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--main css-->
    <link href="css/main.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>

  </head>
  <body>

    <!--navbar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Toastmasters Club</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Clubs <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Meetings</a></li>
        <li class="dropdown ng-hide">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left ng-hide">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!--li><a href="#">Link</a></li-->
        <li class="dropdown">
          <!-- template where profile is handled-->
          <div class="Profile row" ng-controller="ProfileController as vm">
            <div class="col-md-2">
              <img class="user" src="http://placehold.it/350x150">
            </div>
            <div class="col-md-10">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.profile.firstName}} {{vm.profile.lastName}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>

            </div>
          </div>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    </nav>
    <!-- nav bar ends-->
    <!--Login-->
    <div class="loginForm">
      <input type="text"/>
      <input type="password">
    </div>


    <h3 id="club-title"> List of Clubs</h3>

    <div ng-controller="ClubsController as vm">
      <div class="card" ng-repeat="club in vm.clubs">
        <div class="card-block row">
          <div class="col-md-4">
            <h4 class="card-title">{{ club.name }}</h4>
            <p class="card-text" ng-bind="club.description"></p>
          </div>
          <div class="col-md-4">
            <a href="#" class="btn btn-primary">View Details</a>
            <a href="#" class="btn btn-primary">Join Club</a>
          </div>
          <div>
            <a><href="#" class="btn btn-danger">Delete Club</a>
          </div>
        </div>
      </div>
    </div>

    <!--Meetings starts-->
    <h3>Meetings list</h3>
    <div ng-controller="MeetingsController as vm">

      <div class="card" ng-repeat="meeting in vm.meetings">
        <div class="card-block row">
          <div class="col-md-4">
            <h4 class="card-title">{{ meeting.name }}</h4>
            <p class="card-text" ng-bind="club.description"></p>
          </div>
          <div class="col-md-4">
            <a href="#" class="btn btn-primary">{{ meeting.location }}</a>
            <a href="#" class="btn btn-primary">Join meeting</a>
          </div>
          <div>
            <a><href="#" class="btn btn-danger">Delete Meeting</a>
          </div>
        </div>
      </div>
    </div>
    <!--meetings ends-->

    <!--main js file-->
    <script src="dist/main.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
