<!--Note: currently about page is having static content so keeping it here,
  if relevent JS and dynamic content is added create a module for it and move there-->
<!--About us template-->
<div class="about">
  <h3></h3>
  <p class="about-text">Toastmasters International is a world leader in communication and leadership development.
    Our organization has more than 345,000 memberships.
    Members improve their speaking and leadership skills by attending one of the 15,900 clubs in 142 countries that make up our global network of meeting locations.
The world needs leaders. Leaders head families, coach teams, run businesses and mentor others. These leaders must not only accomplish, they must communicate. By regularly giving speeches, gaining feedback, leading teams and guiding others to achieve their goals in a supportive atmosphere, leaders emerge from the Toastmasters program. Every Toastmasters journey begins with a single speech. During their journey, they learn to tell their stories. They listen and answer. They plan and lead.
They give feedback—and accept it. Through our community of learners, they find their path to leadership.</p>
</div>
